body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1946px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1715px;
  width:611px;
  height:76px;
  overflow:hidden;
}
#u1_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:76px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.selected {
}
#u2.selected {
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FF6600;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:611px;
  height:46px;
  color:#999999;
  text-align:left;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:87px;
  height:49px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:30px;
  width:84px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FF6600;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:41px;
  width:29px;
  height:21px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:300px;
  height:46px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:76px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:rgba(255, 102, 0, 0.898039215686275);
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:611px;
  height:46px;
  color:#999999;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:87px;
  height:49px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:30px;
  width:84px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FF6600;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:41px;
  width:29px;
  height:21px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:300px;
  height:46px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:76px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:rgba(255, 102, 0, 0.898039215686275);
}
#u16_img.mouseDown {
}
#u16.mouseDown {
}
#u16_img.selected {
}
#u16.selected {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FF6600;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:611px;
  height:46px;
  color:#999999;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:87px;
  height:49px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:30px;
  width:84px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:46px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:41px;
  width:29px;
  height:21px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:300px;
  height:46px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1632px;
  width:313px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:69px;
  top:1213px;
  visibility:hidden;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
}
#u26_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:364px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
  text-align:left;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:300px;
  height:41px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:300px;
  height:43px;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:300px;
  height:44px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:300px;
  height:44px;
  text-align:left;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:300px;
  height:51px;
  text-align:left;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:300px;
  height:43px;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:300px;
  height:52px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:26px;
  height:26px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:52px;
  width:26px;
  height:26px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:95px;
  width:26px;
  height:26px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:137px;
  width:26px;
  height:26px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:182px;
  width:26px;
  height:26px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:228px;
  width:26px;
  height:26px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:276px;
  width:26px;
  height:26px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:323px;
  width:26px;
  height:26px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1183px;
  width:300px;
  height:30px;
}
#u44_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  text-align:left;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:0px;
  width:147px;
  height:30px;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1133px;
  width:300px;
  height:50px;
  font-size:16px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:1151px;
  width:39px;
  height:17px;
  font-size:15px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1144px;
  width:14px;
  height:24px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1193px;
  width:12px;
  height:9px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:1066px;
  width:409px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54 {
  position:absolute;
  left:53px;
  top:123px;
}
#u54_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
  background-image:none;
}
#u54_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:615px;
  top:348px;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:344px;
  height:355px;
  background-image:none;
}
#u56_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:355px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:355px;
  font-size:11px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:19px;
  width:91px;
  height:26px;
  font-size:18px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#AEAEAE;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:19px;
  width:73px;
  height:26px;
  font-size:18px;
  color:#AEAEAE;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:135px;
  height:5px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:52px;
  width:132px;
  height:2px;
  color:#009900;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:135px;
  height:5px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:52px;
  width:132px;
  height:2px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
  text-align:left;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:147px;
  width:264px;
  height:35px;
  color:#A1A1A1;
  text-align:left;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
  text-align:left;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:88px;
  width:264px;
  height:35px;
  color:#A1A1A1;
  text-align:left;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:34px;
  background:inherit;
  background-color:rgba(51, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:200px;
  width:264px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:260px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:294px;
  width:22px;
  height:20px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:293px;
  width:16px;
  height:19px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:293px;
  width:24px;
  height:19px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:292px;
  width:22px;
  height:21px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:287px;
  width:32px;
  height:32px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:287px;
  width:32px;
  height:32px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:287px;
  width:32px;
  height:32px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:286px;
  width:32px;
  height:32px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:66px;
  width:20px;
  height:14px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:65px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#AEAEAE;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:245px;
  width:61px;
  height:14px;
  font-size:11px;
  color:#AEAEAE;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:272px;
  width:61px;
  height:16px;
  font-size:10px;
  color:#AEAEAE;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:244px;
  width:44px;
  height:16px;
  font-size:10px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:325px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#AEAEAE;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:324px;
  width:17px;
  height:16px;
  font-size:10px;
  color:#AEAEAE;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:324px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#AEAEAE;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:324px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#AEAEAE;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:244px;
  width:100px;
  height:16px;
  font-size:11px;
  color:#A1A1A1;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u83_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:27px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:92px;
  width:17px;
  height:27px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:0px;
  width:32px;
  height:32px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:153px;
  width:19px;
  height:24px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u56_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u56_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u56_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:53px;
  top:123px;
}
#u87_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
  background-image:none;
}
#u87_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1893px;
  height:870px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1747px;
  top:222px;
  width:101px;
  height:30px;
  font-size:20px;
  color:transparent;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-21px;
  width:97px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:59px;
  width:265px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
